
    h1 {
      text-align: center;
    }
  
  form {
    align-content: center;
  }

.order-deadline {
  font-size: 88px;
  
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color:red;    }
    49%{    color: red;}
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
}

  